/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 10 [IATACode]
      ,[Name]
      ,[Country]
      ,[City]
      ,[Province]
      ,[Island]
      ,[Lat]
      ,[Long]
      ,[Elevation]
      ,[gmtOffset]
  FROM [trevor.cullingsworth].[dbo].[Airport]